@model MvcOtomation.Models.Classes.Department
@{
    ViewBag.Title = "Add Department";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="margin-left: 20px">Add Department</h2>
<br />
<form method="post" class="form-group" style="margin-left: 20px">
    @*//Department Name*@
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "margin-top: 20px; margin-right: 20px" })
    @*//Product State*@
    @Html.LabelFor(x => x.State)
    @Html.DropDownListFor( x=>x.State,
        (List<SelectListItem>)ViewBag.ListStateBag,
        new { @class = "form-control" })
    <br />
    <button class="btn btn-info" style="margin-top: 20px">Add</button>
</form>

